<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </li>
        </ul>
    </nav>
    <h1 style="padding:5%">
        Contact us at contact@bestcardealership.com. Call at 123-456-7890. Mail us at 123 dealership lane.
    </h1>
</body>
</html>